@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Urbanist', sans-serif; */
*{
    margin: 0;
    padding: 0;
    
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: hsl(208, 45%, 37%);
    justify-content: flex-end;
    align-items: center;
    height: 6vh;
    font-size: 2rem;
}

nav .navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    height: 100%;
}

nav .navigation li{
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
}

nav .navigation li:hover{
    background-color: hsl(208, 43%, 30%);
}

.active{
    background-color: hsl(208, 43%, 30%);
}

nav .navigation a{
    text-decoration: none;
    color: black;
}

nav .navigation button{
    text-decoration: none;
    color: black;
    border: none;
    padding: 0px;
}

#mainContent{
    position: relative;
    background-color: hsl(34, 54%, 56%);
    min-height: 94vh;
}

.centerTitle{
    font-size: 2rem;
    text-align: center;
    margin-top: 10px;
}


/*///////////////////////////////////////  LOGIN/Register /////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////  LOGIN/Register /////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////  LOGIN/Register /////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////  LOGIN/Register /////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////  LOGIN/Register /////////////////////////////////////////////////////////////////*/

#authContainer{
    position: absolute;
    margin-top: 4%;
    background-color: aliceblue;
    width: 25%;
    height: 55%;
    left:50%;
    transform: translateX(-50%);
}

#formWrapper{
    width: 80%;
    margin-left: 10%;
    
}

.formElementWrapper{
    
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.label{
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.baiscInput{
    font-size: 1.3rem;
    
}

/*///////////////////////////////////////  WIZARD /////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////  WIZARD /////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////  WIZARD /////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////  WIZARD /////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////  WIZARD /////////////////////////////////////////////////////////////////*/

#endGameWrapper{
    position: absolute;
    margin-top: 4%;
    background-color: aliceblue;
    width: 25%;
    height: 55%;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.gameScore{
    position: relative;
    display: flex;
    gap: 10px;
    height: 6vh;
    width: 100%;
    background-color: rgb(61, 255, 87);
}
#wizardMain{
    position: relative;
    
    height: 88vh;
    width: 100%;
    background-color: aqua;
}


.wizard {
    position: absolute;
    background-image: url("/src/assets/images/wizard.png");
    background-size: cover;
}

.bug {
    position: absolute;
    background-image: url("/src/assets/images/bug.png");
    background-size: cover;
}

.fireball {
    position: absolute;
    background-image: url("/src/assets/images/fire-ball.png");
    background-size: cover;
}
